*{
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

.card{
    padding: 3em;
    border: .5em solid crimson;
   display: flex;
   flex-direction: column;
   gap: 3em;
   width: 100%;
   height: auto;
   border-radius: 2em;
}

.card-title{
    display: flex;
    align-items: center;
}

.card .card-title-header{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card .card-title-header h1{
    font-size: 2em;
    letter-spacing: .1em;
}
.card .card-title-header p{
    font-size: 2em;
}

.card-title img{
   width: 9em;
   height: 9em;
   border-radius: 50%;
   border: .5em solid white;
}

.card-contents{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.card-contents h1{
    font-size: 3em;
}

.card-contents p{
    font-size: 2em;
    line-height: 1.7em;
}

.container{
    padding: 20px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:1.5rem;
    grid-template-areas: 
    "one one two three"
    "four five five three"
}

.card:nth-child(1){
    background: aliceblue;
    grid-area: one;
}

.card:nth-child(2){
    background: beige;
    grid-area: two;
}

.card:nth-child(3){
    background: chocolate;
    grid-area:three;
    
}

.card:nth-child(4){
    background-color: darkcyan;
    grid-area:four;
}

.card:last-child{
    background: darkgoldenrod;
    grid-area:five;
}

@media screen and (max-width: 480px) {
    .container{
        grid-template-columns: repeat(auto,1fr);
        grid-template-areas: 
        "one"
        "two"
        "three"
        "four"
        "five";
    }


    .card{
        width: 100vw;
        height: auto;
    }
  }